*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #edede9;
    color: #d5bdaf;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

button {
    background-color: #edede9;
    border: none;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}
